<!--  Main MAtter -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script> -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class= "col-sm-12" ng-controller="readingController">
	<form>
	  <div class="form-group">
		  <label> TYPE : </label>
		  <select ng-init="type='VRY'" ng-model="type" ng-change="sendDate()">
		  	<option value= "VRY" >Line Voltage</option>
		  	<option value = "VRN" selected="selected">Phase Voltage</option>
		  	<option value = "IR">Current</option>
		  	<option value = "KVAR">Apparent Power S in VA</option>
		  	<option value = "KVARR">Reactive Power Q in VAR</option>
		  	<option value = "WR"> Real Power Pr-y-b in W</option>
		  </select>
		  </div>

		 <div class="col-md-4">
                     <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                         <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                         <span></span> <b class="caret"></b>
                     </div>
          </div>

		  <button type="button" class="btn btn-primary" ng-click="sendDate()" >Submit </button>

	</form><br>

	<div id="tester" style="width:100%;height:100%;"></div>
<script>
</script>
	
</div>
